<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>AvayaBreez</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="90c9c3">  <td>17/12/20 17:27:20</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;LoginTest.start()[pri:0, instance:tests.LoginTest@685cb137]">&gt;&gt;start</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1899073220</td>   <td></td> </tr>
<tr bgcolor="90c9c3">  <td>17/12/20 17:27:29</td>   <td>8983</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithValidUserDetails()[pri:0, instance:tests.LoginTest@685cb137]">loginWithValidUserDetails</td> 
  <td>main@1899073220</td>   <td></td> </tr>
<tr bgcolor="90c9c3">  <td>17/12/20 17:27:52</td>   <td>31844</td> <td>&nbsp;</td><td title="&lt;&lt;LoginTest.tearDown()[pri:0, instance:tests.LoginTest@685cb137]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1899073220</td>   <td></td> </tr>
<tr bgcolor="e98674">  <td>17/12/20 17:27:53</td>   <td>32676</td> <td>&nbsp;</td><td title="&gt;&gt;NotificationTests.start()[pri:0, instance:tests.NotificationTests@5700d6b1]">&gt;&gt;start</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1899073220</td>   <td></td> </tr>
<tr bgcolor="e98674">  <td>17/12/20 17:28:03</td>   <td>43364</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NotificationTests.loginWithInvalidUserDeatils()[pri:0, instance:tests.NotificationTests@5700d6b1]">loginWithInvalidUserDeatils</td> 
  <td>main@1899073220</td>   <td></td> </tr>
<tr bgcolor="e98674">  <td>17/12/20 17:28:08</td>   <td>47869</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NotificationTests.loginWithValidUserDetails()[pri:0, instance:tests.NotificationTests@5700d6b1]">loginWithValidUserDetails</td> 
  <td>main@1899073220</td>   <td></td> </tr>
<tr bgcolor="e98674">  <td>17/12/20 17:28:17</td>   <td>56715</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NotificationTests.notificationtaskcompleted()[pri:0, instance:tests.NotificationTests@5700d6b1]">notificationtaskcompleted</td> 
  <td>main@1899073220</td>   <td></td> </tr>
<tr bgcolor="e98674">  <td>17/12/20 17:30:27</td>   <td>187215</td> <td>&nbsp;</td><td title="&lt;&lt;NotificationTests.tearDown()[pri:0, instance:tests.NotificationTests@5700d6b1]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1899073220</td>   <td></td> </tr>
<tr bgcolor="997ed7">  <td>17/12/20 17:30:28</td>   <td>187964</td> <td>&nbsp;</td><td title="&gt;&gt;createprocessvaluarepassedinsidesubprocesTest.start()[pri:0, instance:tests.createprocessvaluarepassedinsidesubprocesTest@490ab905]">&gt;&gt;start</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1899073220</td>   <td></td> </tr>
<tr bgcolor="997ed7">  <td>17/12/20 17:30:38</td>   <td>198273</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="createprocessvaluarepassedinsidesubprocesTest.loginWithInvalidUserDeatils()[pri:0, instance:tests.createprocessvaluarepassedinsidesubprocesTest@490ab905]">loginWithInvalidUserDeatils</td> 
  <td>main@1899073220</td>   <td></td> </tr>
<tr bgcolor="997ed7">  <td>17/12/20 17:30:43</td>   <td>202739</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="createprocessvaluarepassedinsidesubprocesTest.loginWithValidUserDetails()[pri:0, instance:tests.createprocessvaluarepassedinsidesubprocesTest@490ab905]">loginWithValidUserDetails</td> 
  <td>main@1899073220</td>   <td></td> </tr>
<tr bgcolor="997ed7">  <td>17/12/20 17:30:52</td>   <td>212481</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="createprocessvaluarepassedinsidesubprocesTest.notificationtaskcompleted()[pri:0, instance:tests.createprocessvaluarepassedinsidesubprocesTest@490ab905]">notificationtaskcompleted</td> 
  <td>main@1899073220</td>   <td></td> </tr>
<tr bgcolor="997ed7">  <td>17/12/20 17:33:04</td>   <td>344495</td> <td>&nbsp;</td><td title="&lt;&lt;createprocessvaluarepassedinsidesubprocesTest.tearDown()[pri:0, instance:tests.createprocessvaluarepassedinsidesubprocesTest@490ab905]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1899073220</td>   <td></td> </tr>
<tr bgcolor="b9f472">  <td>17/12/20 17:33:05</td>   <td>345311</td> <td>&nbsp;</td><td title="&gt;&gt;SubprocesswithterminateTest.start()[pri:0, instance:tests.SubprocesswithterminateTest@13805618]">&gt;&gt;start</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1899073220</td>   <td></td> </tr>
<tr bgcolor="b9f472">  <td>17/12/20 17:33:15</td>   <td>355211</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SubprocesswithterminateTest.loginWithInvalidUserDeatils()[pri:0, instance:tests.SubprocesswithterminateTest@13805618]">loginWithInvalidUserDeatils</td> 
  <td>main@1899073220</td>   <td></td> </tr>
<tr bgcolor="b9f472">  <td>17/12/20 17:33:20</td>   <td>360583</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SubprocesswithterminateTest.loginWithValidUserDetails()[pri:0, instance:tests.SubprocesswithterminateTest@13805618]">loginWithValidUserDetails</td> 
  <td>main@1899073220</td>   <td></td> </tr>
<tr bgcolor="b9f472">  <td>17/12/20 17:33:30</td>   <td>370154</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SubprocesswithterminateTest.notificationtaskcompleted()[pri:0, instance:tests.SubprocesswithterminateTest@13805618]">notificationtaskcompleted</td> 
  <td>main@1899073220</td>   <td></td> </tr>
<tr bgcolor="b9f472">  <td>17/12/20 17:35:41</td>   <td>500849</td> <td>&nbsp;</td><td title="&lt;&lt;SubprocesswithterminateTest.tearDown()[pri:0, instance:tests.SubprocesswithterminateTest@13805618]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1899073220</td>   <td></td> </tr>
</table>
